body, html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#game{
    text-align: center;
}

#board{
    margin-bottom: 20px;
}

.cell{
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: 2em;
}

.correct{
    background-color: rgb(21, 255, 0);
}

.present{
    background-color: #f1f600;
}

.absent{
    background-color: #e3e3e3;
}